.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: black;
  height: 4rem;
  z-index: 1;
}
.nav-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  font-size: 2rem;
}
.nav-icon {
  margin-right: 0.5rem;
}
.menu-icon {
  display: none;
  padding-right: 2rem;
}
.nav-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-right: 2.5rem;
}
li {
  list-style: none;
  padding-right: 1.5rem;
}
.nav-item {
  padding-left: 2rem;
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 960px) {
  .navbar {
    display: flex;
    flex-direction: column;
    height: auto;
    z-index: 1;
  }
  .nav-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
  }
  .menu-icon {
    display: flex;
    padding-right: 2.5rem;
    color: white;
  }
  .nav-menu {
    display: none;
    width: 100vw;
  }
  .nav-menu.active {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
  }
  li {
    padding: 2rem 0;
  }
}
