.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;

  width: 100%;
  position: fixed;
  top: 0;
  background-color: black;
  height: 60px;
}
.nav-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  font-size: 2rem;
}
.nav-icon {
  margin-right: 0.5rem;
}
.menu-icon {
  display: none;
  padding-right: 20px;
}
.nav-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-right: 30px;
}
li {
  list-style: none;
  padding: 0 20px 0 0;
}
.nav-item {
  padding-left: 20px;
  text-decoration: none;
  color: white;
}

@media screen and (max-width: 960px) {
  .navbar {
    display: flex;
    flex-direction: column;
    height: auto;
  }
  .nav-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
  }
  .menu-icon {
    display: flex;
    padding-right: 30px;
    color: white;
  }
  .nav-menu {
    display: none;
    width: 100vw;
  }
  .nav-menu.active {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
  }
  li {
    padding: 20px 0px;
  }
}
