.card {
  display: flex;
  width: 100vw;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 3rem 0rem;
}
.img {
  width: 90%;
  max-width: 30rem;
  padding: 0rem 1rem;
}
.info {
  height: 12rem;
  max-width: 40rem;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  align-items: flex-start;
  justify-content: space-between;
  text-align: left;
}
.info-sub {
  background-color: rgb(48, 48, 48);
  margin: 1rem 0rem;
}
.buttons-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.icon-button {
  padding: 1rem;
}
p {
  padding: 1rem;
}
.tech {
  font-size: 0.9rem;
  word-spacing: 0.75rem;
  color: rgb(180, 180, 180);
}

@media screen and (max-width: 960px) {
  .card {
    flex-direction: column;
  }
  .img {
    width: 70%;
  }
}
