.resume {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(20deg, rgb(33, 33, 33), rgb(66, 66, 66));
  color: white;
}

@media screen and (max-width: 960px) {
}
